<!-- Main container for the welcome page content -->
<div class="main-page">
  <!-- Main heading for the page -->
  <h1>
    Welcome to Marvel Flix
  </h1>
  
  <!-- Subheading describing the Marvel Cinematic Universe -->
  <h2>Explore the Marvel Cinematic Universe</h2>
  
  <!-- Button to open the user registration dialog -->
  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Sign Up
  </button>
  
  <!-- Button to open the user login dialog -->
  <button
    mat-raised-button
    color="primary"
    (click)="openUserLoginDialog()"
    style="margin-right: 10px;"
  >
    Login
  </button>
</div>
