.main-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white; 

  h1 {
    font-size: 84px;
    font-weight: 700;
    color: #000;
    margin-bottom: 60px;
  }

  h2 {
    font-size: 34px;
    color: #960b0b;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    padding: 0px 300px 0px 300px;
  }

  button {
    margin: 10px;
    border-radius: 2px;
    color: #000;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    &:hover {
      color: #fff;
      background-color: #000000;
      transition: background-color 0.3s ease;
    }
  }
}
