<div class="movies-container">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <img [src]="movie.ImagePath" alt="{{ movie.Title }}" />
    <div class="card-content">
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <div class="mat-card-actions">
      <div class="actions-links">
      <a (click)="openDialog('genre', { genreName: movie.Genre.Name, genreDescription: movie.Genre.Description })">
        Genre
      </a>
      <a (click)="openDialog('director', { directorName: movie.Director.Name, directorBiography: movie.Director.Bio })">
        Director
      </a>
      <a (click)="openDialog('details', { movieTitle: movie.Title, movieDetails: movie.Description })">
        Description
      </a>
    </div>
      <mat-icon>favorite_border</mat-icon>
    </div>
  </div>
  </mat-card>
</div>
