mat-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
  
    mat-card-title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  
    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }
  
    button {
      margin: 10px;
      border-radius: 2px;
      color: #fff;
      width: 100%;
      background-color: #960b0b;
      transition: background-color 0.3s ease;
      &:hover {
        color: #fff;
        background-color: #000000;
        transition: background-color 0.3s ease;
      }
      }
  }
  