@use '@angular/material' as mat;
@import 'styles/variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@include mat.core();

$myFlix-Angular-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($myFlix-Angular-theme);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $font-weight-header;
}

button {
  font-size: $font-size-button;
  font-weight: $font-weight-button;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:focus {
    outline: 2px solid $secondary-color;
  }
}

::ng-deep .mat-card-title {
  padding: 10px;
  color: red;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  
  nav {
    display: flex;
    justify-content: space-around;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}


@media (max-width: 768px) {
  .mat-card {
    flex: 1 1 48%;
  }
}

@media (max-width: 600px) {
  .mat-card {
    flex: 1 1 100%;
  }

  .main-page {
    padding: 10px;
  }

  button {
    margin-right: 5px;
    padding: 8px 16px;
  }
}
